.active {
  background-color: rgb(218, 108, 108);
}
.no-active {
  background-color: white;
  opacity: 0.7;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 600px;
  margin: 5rem;
  background-color: rgb(78, 78, 158);
}

p,
h1 {
  color: white;
}
button {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 0px;
  font-size: 20px;
}
